# Python
__pycache__/
*.pyc
venv/
.env

# LaTeX intermediate files
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
*.dvi
*.nav
*.snm

# System files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
